 Plik konfiguracyjny, na przyk³adzie ³±cza DLS 1Mbit/256Kbit z TPSA.

- konfiguracja w pliku /etc/niceshaper/config, dzieli siê na 3 sekcje, 2 specyficzne dla pasm odpowiednio wychodz±cego 
oraz wchodz±cego, i sekcja globalna maj±ca wp³yw na ogólny sposób dzia³ania.
- konfiguracja sk³ada siê z "dyrektyw g³ownych", "dyrektyw pomocniczych" oraz "parametrów".
- ka¿da linia konfiguracji musi rozpoczynaæ sie od dyrektywy g³ównej.
- je¶li w ramach danej dyrektywy g³ównej istnieje kilka ró¿nych dyrektyw pomocniczych mog± one zostaæ zapisane w jednej 
linii lub rozbite na kilka.
- jednostki przepustowo¶ci to bps, kbps, mbps ( bajty na sekundê ) lub bit, kbit, mbit ( bity na sekundê ).
- jednostki domy¶lnie to kbit ( kilobit na sekunde ).
- dozwolone jest hash'owanie dyrektyw, za pomoc± znaku '#'.
- poni¿sza konfiguracja i dostarczona z pakietem s± tylko przyk³adem i nie s± optymalne.

< global >
iface inet eth0 80.53.211.226/29
iface local eth1 192.168.0.1/24
do not shape local 80.53.211.226 with 192.168.0.0/24
do not shape local 192.168.0.1 with 192.168.0.0/24
shape router true low 8kbps ceil 14kbps prio 2
stats unit kbps dump 5c file /var/www/stats/nsstats.txt
resolve hostname true
method mark
reload 4s
< /global >

< download >
link speed 125kbps shape 110kbps
user low 0kbps ceil 100kbps strict 70%
interactive rate 10kbps ceil 10kbps
interactive srcport 22,27960 dstport 22,27960
interactive srcip 208.231.90.235
interactive u32 match ip tos 0x10 0xff
policy dynamic
< /download >

< upload >
link speed 32kbps shape 25kbps
user low 0kbps ceil 12kbps strict 70%
interactive rate 0kbps ceil 0kbps
interactive srcport 22,27960 dstport 22,27960
interactive dstip 208.231.90.235
policy dynamic
< /upload >

iface {inet|local} dev ip/maska - interfejs sieciowy, oraz IP mu przypisane wraz z mask± sieci.
{inet} - interfejs zewnêtrzny ( internetowy ).
{local} - interfejs wewnêtrzny.
- dla dynamicznie przyznawanego adresu interfejsu internetowego ( np. Neostrada ) u¿ywamy zapisu iface inet dev auto, 
gdzie dev to oczywi¶cie interfejs internetowy.
- konfiguruj±c alias interfejsu podajemy jedynie nazwê interfejsu fizycznego, iptables oraz iproute nie rozró¿nia 
aliasów.
do not shape local ip/maska with ip/maska - dziêki tej dyrektywnie nie ograniczamy transferów lokalnych.
- transfery miêdzy serwerem a sieci± lokaln± definiujemy jak w przyk³adzie.
- IP zewnêtrzne wystêpuje tu je¶li nie chcemy tak¿e ograniczaæ lokalnie dostêpu do us³ug nas³uchuj±cych na zewnêtrznym 
interfejsie.
- je¶li posiadamy 2 lub wiêcej interfejsów lokalnych i nie chcemy ci±æ transferów miêdzy obs³ugiwanymi przez nie 
podsieciami, musimy wszystkie interesuj±ce nas kombinacje zdefiniowaæ w kolejnych liniach.
- je¶li jednak chcemy kontrolowaæ ruch przychodz±cy z sieci lokalnej do serwera mo¿na to wykonaæ jedynie przy u¿yciu 
IMQ.
shape router {true|false} low 8kbps ceil 14kbps prio 2 - definiuje czy chcemy kontrolowaæ pasmo w³asne naszego 
serwera/routera.
- z przyczyn technicznych mo¿liwe jest jedynie kolejkowanie do internetu, nie mamy wp³ywu na tempo pobierania, nawet 
przy u¿yciu IMQ.
- raczej bardzo zalecane je¶li poza udostêpnianiem ³±cza, uruchamiamy jednocze¶nie dostêpny z internetu serwer www czy 
poczty, by jego popularno¶æ nie utrudnia³a korzystania z internetu naszym w³asnym u¿ytkownikom.
- drug± bardzo wa¿n± cech± jest zliczanie ca³ego ruchu do/z internetu z transferami serwera w³±cznie, którego brak 
odbijaæ siê bêdzie na z³ym skalowaniu przydzia³ów, nieadekwatnym do aktualnego ca³kowitego obci±¿enia ³±cza.
stats - wy¶wietlanie statystyk pracy.
{unit} - jednostki przepustowo¶ci.
{dump} - samodzielne zrzucanie statystyk co Xc cykli. Cykl to jedno przeliczenie definiowane przez reload.
{file} - zrzut bêdzie wykonywany do wskazanego pliku.
method {none|mark|imq} - definiuje sposób obs³ugi pasma. Wa¿ne dla ruchu wychodz±cego ( upload ).
- none- nie stosuje ¿adnych dodatkowych zabiegów do kontroli pasma. Nie poradzi sobie z maskarad±. Idealne dla sieci z 
publiczn± adresacj± IP.
- mark - opiera siê na markowaniu pakietów przez iptables. Na dzieñ dzisiejszy obs³uguje jeden interfejs lokalny.
- imq - u¿ywa interfejsów wirtualnych IMQ. Idealnie obs³uguje kilka interfejsów lokalych, i pasmo wychodz±ce przy 
maskaradzie.
reload 4s- taktowanie, w sekundach.
- warto¶æ domy¶lna 4s jest bezpieczna i w miarê efektywna dla ka¿dej maszyny klasy pentium I.
- na maszynach z szybszym procesorem warto zwiêkszyæ czêstotliwo¶æ wykonywania nawet do 2s, co wyra¼nie zwiêksza 
interaktywno¶æ.
resolve hostname {true|false} - stats wy¶wietla nazwy hostów, nie IP.
link - parametry pracy naszego ³±cza.
{speed} - wydajno¶æ pasma.
{shape} - poziom na jakim chcemy utrzymaæ obci±¿enie naszego ³±cza.
- wa¿ne by dobraæ warto¶æ przynajmniej o kilkana¶cie procent mniejsz± od faktycznej wydajno¶ci naszego ³±cza. Je¶li zbyt 
wysoko ustawimy ten parametr, pojawi± siê "lagi", mo¿emy je zlikwidowaæ przez wydzielenie czê¶ci pasma dla ruchu 
priorytetowego, lecz osobi¶cie wole rezygnowaæ z pasma priorytetowego na rzecz dok³adnego wyskalowania tego parametru, 
co jest uniwersalniejsze i nie marnujemy czê¶ci pasma je¶li priorytety nie s± wykorzystywane. Niestety by pograæ trzeba 
wy³±czyæ kaaza:)
- je¶li realnie obci±¿enie nie bêdzie siêgaæ tej warto¶ci, NiceShaper nie bêdzie spe³nia³ swojej roli, u¿ytkownicy 
dostan± maksymalne przydzia³y. Dla NiceShapera jednym z sygna³ów do "obcinania", jest w³a¶nie wykrycie przekroczenia tej 
warto¶ci.
user - sposób traktowania u¿ytkowników.
{low} - minimalny przydzia³
{ceil} - maksymalny przydzia³.
{strict} - warto¶æ w procentach { 0% - 100% }, definiujemy jak bardzo nie lubimy przeginaj±cych.
- warto¶ci niskie bêd± skutkowa³y bardziej restrykcyjnym traktowaniem delikwentów.
- warto¶ci bliskie 100% przy przeci±¿eniu ³±cza, "wspó³odpowiedzialno¶ci± ogó³u".
interactive - wydzielone, niezale¿ne i maj±ce priorytet nad pasmem ogólnym pasmo priorytetowe.
{rate} - pasmo jakie przeznaczamy dla ruchu priorytetowego.
{ceil} - ceil przekazywane bezpo¶rednio do HTB, nie testowa³em dok³adnie celowo¶ci tego parametru, HTB bardzo 
nieprzychylnie traktuje pasmo priorytetowe po przekroczeniu swojej przepustowo¶ci nawet gdy ceil jest ci±gle wy¿sze.
{srcport} - port ¿ród³owy pakietu priorytetowego, wiêksz± liczbê portów oddzielamy przecinkami.
{dstport} - port docelowy.
{srcip} - adres ¼ród³owy.
{dstip} - adres docelowy.
{u32} - dowolny selektor filtru u32.
policy {off|dynamic} - polityka pasma.
- off - wy³±cza sterowanie pasmem w danym kierunku.
- dynamic - standardowy tryb pracy, dynamicznie dziel±cy pasmo.
